
/**
 * @name Better Friendlist
 * @author zafazu
 * @version 1.0
 * @description A Better Friendlist
*/


/* BETTER FRIENDLIST */



.text_f7ebfd {
    display: none;
    }
   
    .emoji.emoji_ad923e.customStatusEmoji_f7ebfd {
    display: none;
    }
   
    .activity_f7ebfd {
    display: none;
    }
    