/**
 * @name Edit "Active Now" text
 * @author zafazu
 * @version 1.0
 * @description Lets you edit the "Active Now" text.
*/


/* ACTIVE NOW TEXT */ 
	
.header_bf550a{
	text-indent: -9999px;
 }

 .header_bf550a::after{
	content: "Was ist denn hier los";
 display: block;
 text-indent: 0px;
 }
